{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
    Autores
{% endblock titulo %}
{% block header %}
 <section class="hero-wrap hero-wrap-2" style="background-image: url({{ publicacion.imagen }});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">{{publicacion.titulo}}</h1>
             <p class="subtitle">{{publicacion.descripcion}}</p>
          </div>
        </div>
      </div>
  </section>
{% endblock header %}
{% block main_content %}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 ftco-animate">
            {{ publicacion.contenido | safe }}
            <strong><h6>Escrito por:</h6></strong>
            {% for autor in autores  %}
                {% if autor.nombre == publicacion.autor.nombre %}
                    <div class="about-author d-flex p-4">
                    <div class="bio mr-3">
                        <div class="circular--portrait">
                            <img src="{{autor.foto}}" alt="Image placeholder" class="img-fluid mb-4">
                        </div>
                    </div>

                    <div class="desc">
                        <h4>{{publicacion.autor}}</h4>
                        <p>{{publicacion.creado}}</p>
                    </div>
                    </div>                 
                {% endif %}
            {% endfor %}

            </div>
          </div> <!-- .col-md-8 -->
		</section>
{% endblock main_content %}