{% extends 'index.html' %}
{% load staticfiles %}

{% block titulo %}
  {{ publicacion.titulo }}
{% endblock titulo %}

{% block imagen %}
  {{ publicacion.imagen }}
{% endblock imagen %}

{% block header %}
    <div class="post-heading">
      <h1>{{ publicacion.titulo }}</h1>
      <h3 class="subheading">{{ publicacion.descripcion }}</h3>
      <span class="meta">Escrito por
        <strong>{{ publicacion.autor }}</strong>
         el {{ publicacion.creado }}</span>
    </div>
{% endblock header %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-10 mx-auto">
              {{ publicacion.contenido | safe }}
          </div>
        </div>
      </div>
    </article>
    <hr>
{% endblock contenido %}
