{% extends 'index.html' %}
{% load staticfiles %}

{% block titulo %}
  {{ detalle_post.titulo }}
{% endblock titulo %}

{% block imagen %}
  {{ detalle_post.imagen }}
{% endblock imagen %}

{% block header %}
    <div class="post-heading">
      <h1>{{ detalle_post.titulo }}</h1>
      <h3 class="subheading">{{ detalle_post.descripcion }}</h3>
      <span class="meta">Escrito por
        <strong><a href="#">{{ detalle_post.autor }}</a></strong>
         el {{ detalle_post.creado }}</span>
    </div>
{% endblock header %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-10 mx-auto">
              {{ detalle_post.contenido | safe }}
          </div>
        </div>
      </div>
    </article>
    <hr>
  
{% endblock contenido %}
