{% extends 'index.html' %}
{% load staticfiles %}
{% block titulo %}
    Autores
{% endblock titulo %}
{% block header %}
 <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'img/authors-bg.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Autores</h1>
             <p class="subtitle">Conoce a nuestros escritores</p>
          </div>
        </div>
      </div>
  </section>
{% endblock header %}
{% block main_content %}
		<section class="ftco-section ftco-no-pb">
			<div class="container">
			    <div class="row justify-content-center mb-5 pb-2">
			        <div class="col-md-8 text-center heading-section ftco-animate">
				        <h2 class="mb-4"><span>Nuestros</span> Autores</h2>
			        </div>
			    </div>
                <div class="row">
                    {% if autores %}
                        {% for autor in autores %}
                            <div class="col-md-6 col-lg-3 ftco-animate">
                                <div class="staff">
                                    <div class="img-wrap d-flex align-items-stretch">
                                        <div class="img align-self-stretch" style="background-image: url({{autor.foto}});"></div>
                                    </div>
                                    <div class="text pt-3 text-center">
                                        <h5>{{autor}}</h5>
                                        <span class="position mb-4">Escritor</span>
                                        <div class="faded">
                                            <ul class="ftco-social text-center">
                                            <li class="ftco-animate"><a href="{% if autor.twitter %}{{autor.twitter}}{% else %}#{% endif %}"><span class="icon-twitter"></span></a></li>
                                            <li class="ftco-animate"><a href="{% if autor.facebook %}{{autor.facebook}}{% else %}#{% endif %}"><span class="icon-facebook"></span></a></li>
                                            <li class="ftco-animate"><a href="{% if autor.instagram %}{{autor.instagram}}{% else %}#{% endif %}"><span class="icon-instagram"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                          
                        {% endfor %}
                    {% endif %}	
                </div>
			</div>
		</section>
{% endblock main_content %}